.backgroundImage
{
  background-image: url('./images/background1.jpg');
  display: inherit;
}

.navbar
{
  background-color: darkblue;  
  height: 6vw;
  max-width: 100%;  
  line-height: 6vw;
}

li
{  
  list-style-type: none;
  display: inline;
  padding: 10px;
  margin-left: 5vw;
  font-size: 2vw;
}

.link
{
  color: white;
}

.homeTitle
{
  text-align: center;
  color: black;
  font-size: 8vw;
  line-height: 20vw;
  font-family: Arial, Helvetica, sans-serif;
}

.homeParagragh
{
  text-align: center;
  line-height: 3vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5vw;
  font-weight: bolder;
}

/*================================================================================================*/
/*Style for Case component*/

.caseContainer
{
  width: 35vw;
  height: 35vw;
  align-items: center;
  background-color: darkblue;
  color: white;
  border-radius: 35px;
  line-height: 10vw;
}

.textAlign
{
  text-align: center;
  padding: 1px;
  height: 3vw;  
}

.containerMargin
{
  margin-left: 9vw;  
  display: grid;
  grid-template-columns: auto auto;  
  grid-row-gap: 4rem;
}

.textTitle
{
  text-align: center;
}

.fontSize
{  
  font-size: 2vw;
  font-family:Arial, Helvetica, sans-serif;
}

.pageTitleFont
{
  text-align: center;
  font-size: 7vw;
  font-family: Arial, Helvetica, sans-serif;
}

.fontSizeCaseComponent
{
  text-align: center;
  font-size: 4vw;
  font-family: Arial, Helvetica, sans-serif;
}