.backgroundImage
{
  background-image: url('./images/background1.jpg');
  display: inherit;
}

div
{
  background-color: darkblue;
  color: white;
  height: 6vw;
  max-width: 100%;  
  line-height: 6vw;
}

li
{
  list-style-type: none;
  display: inline;
  padding: 10px;
  margin-left: 5vw;
  font-size: 2vw;
}

h1
{
  text-align: center;
  color: black;
  font-size: 8vw;
  line-height: 400px;
}